/* Shared Style */
:root{
    --text-menu:#3C354F;
    --color-primary: #FF42A5;
    --section-title-text: #0B0223;
    --section-description-text:#534C64;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #fff;
    border: 0;
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 2.15rem;
}
.btn-secondary{
    color: #fff;
    border: 0;
    border-radius: 3rem;
    background: #4EC5F7;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 2.15rem;
}

.section-title{
    color: var(--section-title-text);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
}
.section-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
    font-weight: 700;
}
.section-description{
    color: var(--section-description-text);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/* Header Section */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    background: #fff;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 4.25rem;
}
.logo h3{
    font-size: 2rem;font-weight: 700;
}
.header-title{
    color: var(--color-primary);
    margin-left: 0.8rem;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: var(--text-menu);
}
.youtube{
    color: #F61C0D;
}
.soical-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 15px;
}
.soical-follow i{
    font-size: 1.35rem;
}
/* Banner Section */
.banner-text{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 150px 400px 280px 400px;
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.banner-text ul li i{
    color: var(--color-primary);
    font-size: 1.25rem;
    margin-right: 0.8rem;
}
.banner-text ul li {
    padding: 1rem 0;
}
.banner-text ul li {
    list-style: none;
}
.banner-text h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* online-game Section */
.online-game{
   width: 80%;
   margin: 0 auto;
}
.online-game h3{
    margin-bottom: 1rem;
}
.online-game p{
    margin-bottom: 2.5rem;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.card{
    display: block;
    margin: 0 auto;
}
.card p{
    text-align: left;
    margin: 1rem 0;
    padding: 5px;
}

/* Responsive Mobile */
@media screen and (max-width: 576px){
    header nav{
        flex-direction: column;
    }
    .menu>ul{
        flex-direction: column;
        margin: 30px 0;
    }
    .soical-follow{
        flex-direction: row;
    }
    .banner-content{
       flex-direction: column-reverse;
      gap: 20px;
      padding: 1rem;
    }
    .banner-img img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .banner-text{
        background-size: contain;        
        padding: 15px 40px 28px 40px;
        margin: 0 auto;
    }
    .cards-container{
        flex-direction: column
    }
}